@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;700&display=swap');
h1,h2{
    font-family: 'Josefin Sans', sans-serif;  
    font-weight: 700 !important;
    font-size: 1.5rem !important;
}
p{
    font-size: 1.125rem !important;
}
.b-recuperar{
    background-image: url('images/fondo2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.b-principal{
    background-image: url('images/fondo1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
body{
    background-image: url('images/fondo.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}
.nav{
    background-color: rgba(255, 255, 255, 0.788);
}
.opacidad{
    background-color: rgba(247, 247, 247, 0.514);
}
button{
    cursor: pointer !important;
}
*{font-family: 'Josefin Sans', sans-serif !important;
transition: all;}
#mobile-menu a{
    border-bottom: 2px solid transparent !important;
    transition: 0.5s linear;
}
.active{
    color: black;
    font-weight: bold;
    height: 100% !important;
    border-bottom: 3px solid orange;
    
}
.buscar{
    border: 1px solid rgba(0, 0, 0, 0.425);
    border-radius: 10px;
    width: 70%;
    min-width: 150px; 
    max-width: 250px;
    
}
.form{
    width: 100%;
    
}
#mobile-menu a:hover:not(.active){
    border-bottom: 2px solid rgb(17, 235, 151) !important;
    color: black;
    
}
.search{
    width: 100%;
    max-width: 700px;
    min-width: 200px;
    
}
.foto{
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.search .input, .input{
    width: 90%;
    max-width: 700px;
    min-width: 150px;
    border: 1px solid gray;
    border-radius: 10px;
    font-weight: 400;
    margin-right: 10px;
}
.input{
    width: 100%;
}
.article section{
    width: 80%;
}
.c1{
    margin-right: 10px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border-top: 6px solid rgb(17, 235, 151);
}
.c2{
    margin-top: 12px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border-bottom: 6px solid orange;
}
.registar-iniciar{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.527);
    width: 100%;
    height: 100%;
}
.registrar{
    background-color: white;
    padding: 2rem;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 700px;
    min-height: 500px;
}
.login{
    background-color: white;
    padding: 2rem;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    
    
}

.registrar input, .login input, .registrar select{
    border: 1px solid gray;
    border-radius: 10px;
}
.registrar h2, .login h2{
    font-size: 1.5rem;
    
}
.sombra{
    box-shadow: 2px 2px 3px rgb(82, 76, 76);
    border-radius: 10px;
}
